a{
  color:inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h2{
  font-weight: 300;
}

h3{
  font-weight: 600;
  margin: 1.5rem auto 1.2rem;
  color: #333d41;
}

p{
  font-size: 1.3rem;
}

/* sections */
.coloredSection{
  background-color: #b9dbeb;
}

/* containers */
.container-fluid{
  padding: 0;
}

.contentContainer{
  padding: 4rem 0 4rem 0;
}

.container{
  margin: 5rem auto;
}

/* Navbar */
.navbar{
  text-align: left;
}

.navbar-brand{
  margin: 4px 24px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 2.5rem;
  letter-spacing: 4px;

}

.navbar-nav{
  margin-right: 25px;
}

.nav-item{
  padding: 0 20px;
}

.nav-link{
  font-size: 1.2rem;
}

/* Title section */

.name{
  font-family: 'Cormorant Garamond', serif;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 8px;
}

.bgImageContainer{
  overflow-x: hidden;
  align-self: center;
}

.bgImage{
  height: 60rem;
  margin-left: 50%;
  transform: translateX(-50%);
}

.nameContainer{
  position: absolute;
  left: 50%;
  transform: translate(-50%,-450%);
  border: solid 10px;
  border-color: #b9dbeb;
  width: 30rem;
  height: 12rem;
  color: white;
}

.nameContainerBg{
  position: absolute;
  background-color: #45657725;
  width: 100%;
  height: 100%;
}

.bookNowContainer{
  position: absolute;
  left: 50%;
  transform: translate(-50%,-100%);
  background-color: white;
  width: 25rem;
  height: 6.5rem;
  border-bottom: solid 0.5rem;
  border-color: #b9dbeb;
}

.bookNowH2{
  font-weight: 700;
  padding-top: 1.5rem;
  font-size: 2.5rem;
}

/* offer section */

.offerCol{
  padding: 3rem;
}

.offerRow{
  margin: 3rem auto;
  padding: 0 10%;
}

.offerContent{
  margin: auto;
  width: 18rem;
  text-align: left;
  font-weight: 700;
}

.offerImg{
  width: 18rem;
}

/* testimonials section */

.testimonialImg{
  margin: 10rem auto;
  height: 12rem;
}

.testimonialText{
  color: #fff;
}

/* pricing section */

.pricingH3{
  font-size: 2.2rem;
  padding-bottom: 2rem;
}

.priceCardPremium{
  height: 35rem;
}

.priceCardBasic{
  height: 30rem;
}

.price{
  font-weight: 700;
  color: #333d41;
}

.euro{
  font-size: 1.5rem;
}

.smallDiscount{
  font-weight: 700;
  color: #333d41;
}

.bigDiscount{
  font-size: 2.2rem;
  font-weight: 700;
  color: #a7c5d4;
}

/* stay section */
.stayContainer{
  position: absolute;
  left:50%;
  transform: translate(-5%,-180%);
  border: solid 10px;
  border-color: #b9dbeb;
  width: 42rem;
  height: 28rem;
  color: white;
}

.stayContainerBg{
  text-align: right;
  padding-right: 2rem;
  position: absolute;
  background-color: #45657725;
  width: 100%;
  height: 100%;
}

.stayH4{
  font-weight: 700;
}

/* foooter section */
.footer{
  background-color: #b9dbeb;
  padding: 2rem 2rem 2rem 2rem;
  color: #333d41;
}

.footerColContent{
  padding-top: 2rem;
  text-align: left;
}

.footerH5{
  font-weight: 700;
}

/* media query */
@media (max-width:1300px){
  .offerRow{
    padding: 0 3%;
  }
  .bgImage{
    height: 45rem;
  }
  .nameContainer{
    transform: translate(-50%,-350%);
  }
  .offerCol{
    padding: 3rem 0;
  }
  .stayContainer{
    transform: translate(-50%,-145%);
  }
  .testimonialImg{
    width: 100%;
    height: auto;
  }
}

@media (max-width:900px){
  .stayContainer{
    width: 30rem;
    height: 32rem;
    transform: translate(-50%,-130%);
  }
}

/* Bootstrap edits */

.btn-outline-primary {
  --bs-btn-color: #333d41;
  --bs-btn-border-color: #a7c5d4;
  --bs-btn-border-radius: 0;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #a7c5d4;
  --bs-btn-hover-border-color: #a7c5d4;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #333d41;
  --bs-btn-active-border-color: #333d41;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #a7c5d4;
  --bs-btn-border-radius: 0;
  --bs-btn-border-color: #a7c5d4;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #333d41;
  --bs-btn-hover-border-color: #333d41;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #475054;
  --bs-btn-active-border-color: #475054;
}
/* Notatki:
Użyj paddingu wewnątrz html przy pomocy bootstrapa */
